body {           
    margin: 0;
    padding: 0;
}                         /* отступы сайта */



header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1669438361929-42910a7a5227?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80) 
    bottom no-repeat;
    background-size: cover;
}        /* задний фон и центровка текста новость */

h1 {
    color: red;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}   /* стиль заголовка НОВОСТЬ */

.news {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    font-size: larger;
    width: 65%;
    background-color: #fff;
   
} /* Белый цвет фона основного экрана */

article {
    width: 100%;
    margin-left: 10px;
    padding: 6px 15px;
    
} /* маштабирование подновости относительно сайта */

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
} /* цвет ссылок */

article a:visited { 
    color: purple; 
}     /* Посещённые ссылки */
    

article a:hover {
    color: #0085a1;
   
} /* подсветка ссылки при наведении на текст */

.all_news {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    background-size: cover;
    width: 100%;
    border: 2px solid #030507;
    
} /* стиль для новостей */


   

   

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
    position: relative;
    bottom: 20px;
} 

article img{
    width: 70%;   
    object-fit: cover;
}

article p{
    font-size: 1.5rem ;
}


#t34:visited {
    color: rgb(8, 184, 75); 
        
}

footer {
    border-top: 1px solid rgb(128, 128, 128);
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
  
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a 
{
    color: #030507;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;

}


#font {
    font-size: medium;
}