body {           
    margin: 0;
    padding: 0;
   
}                         /* отступы раздела body */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 370px;
    background: url(https://images.unsplash.com/photo-1669286081807-5dbaf484a371?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) 
    bottom no-repeat;
    background-size: cover; 
}        /* задний фон и центровка текста новость */

h1 {
    color: rgb(7, 6, 6);
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 2s;
}   /* стиль заголовка НОВОСТЬ */

header h1:hover {
    color:chartreuse;
}
.all_news {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-size: cover;
   align-items:stretch;
   min-height: 450px;
    
}   /* стиль для всех новостей*/

.news {
    display: block;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 20px;
    text-align: center;  
    margin: 5 15px;
    background-color:burlywood;
    max-width: 400px;
    max-height: 450px;

} /* стиль для отдельной новости*/


.article_meta {
   font-size: 22px; 
   margin-bottom: 10px;
   padding-left: 5px;
   text-align: left;
   margin-bottom: 25px;
   text-decoration: none;
   
} /* название новости */

.article_meta a {
    transition: color 3s;
}

.news p:hover {
    color:#030507
}

.article_meta a:hover {
    color:rgb(3, 0, 0);
}

.cont_author:hover {
    color:black;
}

.cont_author {
    font-size: 20px;
    color: coral;
    margin-bottom: 20px;
    text-align: left;
    transition: color 0.5s;
} /* автор новости */
   
.news img {
    width: 16vw;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
} /* стиль для картинок которые используются в новостях*/


footer {
    border-top: 2px solid rgb(128, 128, 128);
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center; 
} /* нижний футер*/

footer .links {
    margin-bottom: 20px;
} 

footer .links > a 
{
    color: #030507;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}


.news:nth-child(even) {
    background-color: rgb(95, 243, 206);
}


.news:nth-child(1)::before {
    content: 'new';
}

.news:nth-child(2)::before {
    content: 'new';
} 